@keyframes color-change {
  0% { color: black; }
  25% { color: #b86bf3; }
  50% { color: #8a29d5; }
  75% { color: #6309a8; }
  100% { color: indigo; }
}

mat-card {
  padding: 30px;
  color: indigo;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  text-align: center;
  max-width: 90vw;
  background-color: ghostwhite;
  text-decoration-color: black;
}

mat-card-title, mat-card-subtitle {
  color: indigo;
  margin: 20px;
}

mat-card-title {
  animation: color-change 5s infinite;
  font-size: 2rem;
}

mat-label {
  color: indigo;
}
