<mat-card>
  <mat-card-title>Registration</mat-card-title>
  <mat-card-subtitle>Already registered?</mat-card-subtitle>
  <mat-card-subtitle (click)="router.navigate(['/auth/login'])">Login here</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="register()">
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Email" formControlName="username">
          <mat-error *ngIf="username.touched && username.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="username.touched && username.hasError('email')">Email must be valid</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button color="primary" type="submit" [disabled]="!form.valid">Register</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
