<mat-card>
  <mat-card-title>Registration</mat-card-title>
  <mat-card-subtitle>Already registered?</mat-card-subtitle>
  <mat-card-subtitle (click)="router.navigate(['/auth/login'])" class="link">Login here</mat-card-subtitle>
  <mat-card-content>
    <form (ngSubmit)="register()" [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="Name" type="text">
          <mat-error *ngIf="name.touched && name.hasError('required')">Name is required</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="username" matInput placeholder="Email" type="email">
          <mat-error *ngIf="username.touched && username.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="username.touched && username.hasError('email')">Email must be valid</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput placeholder="Password" type="password">
          <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button [disabled]="!form.valid" color="primary" mat-button type="submit">Register</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
