.example-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  min-width: 50vw;
}

.example-header-image {
  background-image: url('/assets/images/wrapped-bitcoin-logo.png');
  background-size: cover;
}

p {
  margin: 5px;
  word-wrap: break-word
}

.wallet-keys {
  margin-bottom: 25px
}
