<mat-toolbar class="example-toolbar" color="primary">
  <button *ngIf="!isMobile" [disabled]="!isLoggedIn" (click)="drawer.toggle()" mat-icon-button class="example-icon">
    <mat-icon class="icon-display">menu</mat-icon>
  </button>
  <span></span>
  <span></span>
  <span class="example-spacer"></span>
  <button (click)="isLoggedIn? router.navigate(['/home']) : router.navigate(['/welcome'])" mat-icon-button class="example-icon favorite-icon">
    <mat-icon class="icon-display">home</mat-icon>
  </button>
  <span></span>
  <span></span>
  <button (click)="isLoggedIn? logout(): router.navigate(['/auth/login'])" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon class="icon-display">{{isLoggedIn ? 'power_settings_new' : 'login'}}</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>

    <div *ngIf="isLoggedIn" class="example-button-container">
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>


</mat-drawer-container>

