<mat-toolbar class="example-toolbar" color="primary">
  <button (click)="drawer.toggle()" *ngIf="!isMobile" [disabled]="!isLoggedIn" class="example-icon" mat-icon-button>
    <mat-icon class="icon-display">menu</mat-icon>
  </button>
  <span></span>
  <span></span>
  <span class="example-spacer"></span>
  <button (click)="isLoggedIn? router.navigate(['/home']) : router.navigate(['/welcome'])" class="example-icon favorite-icon"
          mat-icon-button>
    <mat-icon class="icon-display">home</mat-icon>
  </button>
  <span></span>
  <span></span>
  <button (click)="isLoggedIn? logout(): router.navigate(['/auth/login'])" aria-label="Example icon-button with share icon" class="example-icon"
          mat-icon-button>
    <mat-icon class="icon-display">{{isLoggedIn ? 'power_settings_new' : 'login'}}</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>

    <div *ngIf="isLoggedIn" class="example-button-container">
      <button aria-label="Example icon button with a delete icon" color="primary" mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>


</mat-drawer-container>

