span + span {
  margin-left: 20px;
}

.add-wallet-button:hover {
  transform: scale(1.5);
  transition: transform 1s ease;
}

.example-toolbar {
  height: 10vh;
}

.example-button-container {
  position: fixed;
  display: flex;
  align-self: flex-end;
  bottom: 5vh;
  right: 10vw;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100vw;
  height: 90vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.icon-display {
  transform: scale(2);
}
